@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: white;
}

ul {
  list-style: none;
}

section {
  position: relative;
}

.flex {
  display: flex;
}

.container {
  position: relative;
  width: 1440px;
  height: 750px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.bg-color {
  background: hsl(229, 57%, 11%);
}

.bg-img {
  background-image: url(../images/bg-desktop.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

.showcase {
  width: fit-content;
  margin: 0 auto;
  align-items: center;
}

.logo-card {
  background-color: hsl(228, 56%, 26%);
  flex-direction: column;
  margin-bottom: 70px;
  padding: 35px;
  border-radius: 8px 85px 8px 8px;
  width: 300px;
  height: fit-content;
}

.logo {
  margin-bottom: 15px;
}

.menu-items li {
  justify-content: center;
  margin-right: 20px;
  background: hsl(229, 57%, 11%);
  border-radius: 8px;
  width: 45px;
  height: 45px;
  align-items: center;
}

.progress-card {
  position: relative;
  background-color: hsl(228, 56%, 26%);
  height: fit-content;
  padding: 35px;
  margin-bottom: 32px;
  border-radius: 8px;
  margin-left: 30px;
}
.progress-card .main .bar {
  position: relative;
  width: 600px;
  height: 20px;
  background: hsl(229, 57%, 11%);
  border-radius: 10px;
  overflow: hidden;
  margin: 15px 0 10px;
}
.progress-card .main .bar .fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 81.5%;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  z-index: 1;
  border-radius: 10px;
}
.progress-card .main .bar .fill .ball {
  position: absolute;
  top: 1px;
  right: 0;
  width: 18px;
  border-radius: 50%;
  height: 90%;
  background: white;
  z-index: 2;
}

.limits {
  justify-content: space-between;
}

.bubble {
  position: absolute;
  top: -70px;
  right: 40px;
  line-height: 24px;
  width: fit-content;
  background: #fff;
  border-radius: 15px 15px 0;
  padding: 24px 20px 24px 20px;
  text-align: right;
  color: hsl(229, 7%, 55%);
  text-transform: uppercase;
}
.bubble strong {
  font-size: 2.5rem;
  color: hsl(229, 57%, 11%);
  margin-right: 10px;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 24px solid #fff;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  right: 0;
  bottom: -24px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
}
.attribution a {
  color: hsl(228, 56%, 26%);
}

@media (max-width: 375px) {
  .container {
    width: 375px;
  }
  .bg-img {
    background-image: url(../images/bg-mobile.png);
  }
  .showcase {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo-card {
    margin-bottom: 10px;
    width: 320px;
  }
  .progress-card {
    margin: 20px 0 0;
    padding-bottom: 50px;
  }
  .progress-card .main .bar {
    width: 250px;
  }
  .bubble {
    border-radius: 15px;
    top: 80%;
    right: 25%;
  }
  .bubble-bottom-left:before {
    border: 0;
  }
}